.single__course__item {
    padding: 15px;
  }
  
  .course__img img {
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .enroll a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    color: #17bf9e;
  }
  
  .lesson i,
  .students i,
  .rating i {
    font-weight: 400;
  }
  
  .course__title {
    line-height: 2rem;
  }
  
  .course__top__left h2 {
    font-weight: 600;
    text-align: center;
    font-size: 25px;
  }

    
  .course__top__left p {
    text-align: center;
    font-size: 18px;
    text-align: justify;
    font-weight: 600;
  }

    
  .course__top__left h3 {
    font-weight: 300;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }