.hero_content h2 {
    font-weight: 600;
    line-height: 55px;
    text-align: center;
    font-size: 25px;
  }
  
  .hero_content p {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
  }